
Vue.component('naw',{
	template:`
	<header id="header">
<!-- Nav -->
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>
<!-- Menu -->
<nav id="menu">
	
	<ul>
		<li><a href="index.html">ГЛАВНАЯ</a></li>
		<li><a href="power.html">СИЛОВАЯ СХЕМА</a></li>
		<li><a href="control.html">СХЕМА УПРАВЛЕНИЯ</a></li>
		<li><a href="apparatus.html">ЭЛЕКТРОАППАРАТЫ</a></li>
		 <li><a href="extrim.html">Пульт 81.717 ЛОТ</a></li>  
         <li><a href="extrim-kvr.html">Пульт КВР</a></li>
		<li><a href="test.html">НЕСТАНДАРТНЫЕ ПОКАЗАНИЯ ЛОТ</a></li>
	</ul>
</nav>
</header>`
})

new Vue({
	el:'#app',
})




