.cls-2 {
    fill:#2d2a2a;
    /* stroke: #aa002b; */
    stroke-linejoin: round;
  }

  .cls-2, .cls-5 {
    stroke-width: 0.75px;
  }

  .cls-3 {
    /* fill: #ffda22; */
     fill:#2d2a2a;
  }

  .cls-4 {
    /*fill: #9cb235;*/
     fill:#2d2a2a;
  }

  .cls-5 {
    stroke: #000;
  }

  .cls-5, .cls-8 {
    stroke-miterlimit: 10;
  }

  .cls-6 {
    fill: #545450;
  }

  .cls-7 {
    fill: #e5e5e5;
  }

  .cls-8 {
    fill: #fff;
    stroke: #eaeaea;
  }
  #zero-1, #zero-2{
    fill:  #ffda22;
    }
body{
    background-color: aqua;
    display: flex;
    justify-content: start;
}

.test{
    height: auto;
    width: 700px;
    margin:0 auto;
    background-color: aliceblue;
    padding: 10px;
   
}
#lot{
    margin:0 auto; 
}
#resultFild{
    text-align: center;
    color:red
}
.result{
    width: 200px;
    height: 185px;
   margin: 30px auto;
   transition: background-image .3s linear;
}
.result-zero{
    width: 200px;
    height: 185px;
   margin: 0 auto;
}
