/* header */
*{
    margin: 0;
    padding: 0;
}
html,
body {
  height: 100%;
  background: url(../images/bg3.jpg) fixed;
}
.header{
    text-align: center;
    color: #fff;
    background: #1919c3;
    height: 40px;
}
.glav {
    margin: 3px 25px;
    height: 35px;
    float: left;
}


/* body */
.body{
    padding: 5px;
    background-color: white;
    padding-bottom: 100px;
    border:solid 3px #1919c3;
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
}
h1{
    text-align:center ;
    
}
h2{
    text-align:center ;
    margin-bottom: 30px;
    margin-top:30px;
    clear: left;
}

.pow-img{
    margin-right: 25px;
    margin-bottom: 25px;
    width: 50%;
    float: left;
}
figcaption{
    margin: 10px;
    font-style: italic;
    color: #1919c3;
}
ol, li{
    font-size:20px;
    margin: 30px;
}

p{
    font-size:18px;
    text-indent: 1.5em; /* Отступ первой строки */
    text-align: justify; /* Выравнивание по ширине */
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px; 
    background: #1919c3;
    text-align: center;
    color: aqua;
    z-index: 999;
}

