
*{
	margin: 0;
	padding:0; 
}
body{
	width: 100%;
}

.bord{
	border: 2px solid red;
}


  
.st0{fill:#98D0DE;}
.st1{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;}
.st2{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.9559,3.9559;}
.st3{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:4.111,4.111;}
.st4{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:4.1309,4.1309;}
.st5{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.7958,3.7958;}
.st6{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.9845,3.9845;}
.st7{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:4.1699,4.1699;}
.st8{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:4.0015,4.0015;}
.st9{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:4.4985,4.4985;}
.st10{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:4.0511,4.0511;}
.st11{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.903,3.903;}
.st12{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:4.1008,4.1008;}
.st13{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.8568,3.8568;}
.st14{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:4.0582,4.0582;}
.st15{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.7285,3.7285;}
.st16{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.9468,3.9468;}
.st17{fill:#F8B57E;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
.st18{fill:#BFBFBF;}
.st19{fill:none;stroke:#000000;stroke-width:1.5;stroke-linecap:round;stroke-miterlimit:10;}
.st20{fill:none;stroke:#000000;stroke-width:1.5;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:1.9904,1.9904;}
.st21{fill:none;stroke:#000000;stroke-width:1.5;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:2.0026,2.0026;}
.st22{fill:#A6A6A6;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
.st23{fill:none;stroke:#000000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st24{fill:url(#SVGID_1_);stroke:#000000;stroke-width:2.000000e-02;stroke-miterlimit:10;}
.st25{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.9483,3.9483;}
.st26{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.9985,3.9985;}
.st27{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:2.0493,2.0493;}
.st28{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:1.9333,1.9333;}
.st29{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:1.0022,1.0022;}
.st30{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:1.0069,1.0069;}
.st31{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:0.9693,0.9693;}
.st32{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:0.9876,0.9876;}
.st33{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.9882,3.9882;}
.st34{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.9545,3.9545;}
.st35{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.9222,3.9222;}
.st36{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:4.0444,4.0444;}
.st37{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.9563,3.9563;}
.st38{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.9999,3.9999;}
.st39{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.9926,3.9926;}
.st40{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.9417,3.9417;}
.st41{fill:none;stroke:#000000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:7;}
.st42{fill:#FFFF00;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
.st43{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st44{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:3;}
.st45{fill:none;stroke:#0070C0;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:2;}
.st46{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:2;}
.st47{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:1;}
.st48{fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:1;}
.st49{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:4.3265,4.3265;}
.st50{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:4.0138,4.0138;}
.st51{fill:none;}
.st52{stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.st53{fill:#FFFFFF;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
.st54{fill:#002060;stroke:#000000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st55{fill:#00B050;stroke:#00B050;stroke-width:0.25;stroke-miterlimit:10;}
.st56{fill:none;stroke:#00B050;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st57{fill:#FF0000;stroke:#000000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st58{fill:#98D0DE;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
.st59{stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
.st60{stroke:#000000;stroke-miterlimit:10;}
.st61{fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st62{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st63{stroke:#000000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st64{fill:none;stroke:#000000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;}
.st65{fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;}
.st66{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-linejoin:round;}
.st67{fill:#0070C0;stroke:#0070C0;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st68{fill:none;stroke:#0070C0;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:3;}
.st69{fill:none;stroke:#0070C0;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st70{fill:none;stroke:#0070C0;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st71{fill:none;stroke:#0070C0;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:2;}
.st72{fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:2;}
.st73{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st74{fill:none;stroke:#000000;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st75{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
.st76{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:10.2018,10.2018;}
.st77{fill:url(#SVGID_2_);stroke:#000000;stroke-width:2.000000e-02;stroke-miterlimit:10;}
.st78{fill:url(#SVGID_3_);stroke:#000000;stroke-width:2.000000e-02;stroke-miterlimit:10;}
.st79{fill:none;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
.st80{fill:#00B050;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
.st81{fill:none;stroke:#000000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:2;}
.st82{fill:#7030A0;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
.st83{fill:url(#SVGID_4_);stroke:#000000;stroke-width:2.000000e-02;stroke-miterlimit:10;}
.st84{fill:url(#SVGID_5_);stroke:#000000;stroke-width:2.000000e-02;stroke-miterlimit:10;}
.st85{fill:url(#SVGID_6_);stroke:#000000;stroke-width:2.000000e-02;stroke-miterlimit:10;}
.st86{fill:url(#SVGID_7_);stroke:#000000;stroke-width:2.000000e-02;stroke-miterlimit:10;}
.st87{fill:url(#SVGID_8_);stroke:#000000;stroke-width:2.000000e-02;stroke-miterlimit:10;}
.st88{fill:url(#SVGID_9_);stroke:#000000;stroke-width:2.000000e-02;stroke-miterlimit:10;}
.st89{fill:url(#SVGID_10_);stroke:#000000;stroke-width:2.000000e-02;stroke-miterlimit:10;}
.st90{fill:url(#SVGID_11_);stroke:#000000;stroke-width:2.000000e-02;stroke-miterlimit:10;}
.st91{fill:none;stroke:#000000;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;}
.st92{fill:none;stroke:#000000;stroke-width:0.25;stroke-linecap:round;stroke-miterlimit:10;}
.st93{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.9617,3.9617;}
.st94{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.0093,3.0093;}
.st95{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:4.4982,4.4982;}
.st96{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:2.3889,2.3889;}
.st97{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.7889,3.7889;}
.st98{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:2.8542,2.8542;}
.st99{fill:none;stroke:#FF151B;stroke-width:5;stroke-miterlimit:10;}
.st100{fill:#FFFFFF;stroke:#FF0000;stroke-width:5;stroke-miterlimit:10;}
.st104{fill:none;stroke:#FF151B;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.st105{fill:#FFFFFF;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st101, .st107{fill:none;stroke:#FF151B;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.st109{fill:none;stroke:#FF151B;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.st110{fill:#FFFFFF;}
.st101oringe{fill:none; stroke: #FFFF00; stroke-width:12;}
.st101s{fill:none;stroke:hotpink;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
foreignObject{
	padding: 10px;
}
.btn-cont {
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .button {
	width: auto;
	height: 30px;
	background: red;
	color: #FFFFFF;
	margin-bottom: 20px;
	font-size: 22px;
  }
  foreignObject{
	  font-size: 21px;
  }
 
  .hind{
	 width: 200px;
	 display:none;
	 border: #002060 1px solid;
	 padding: 7px;
	 background:aquamarine;
	 top: 100px;
	 left: 30px;
	 position: fixed;
	 box-shadow: 1px 7px 15px 0px #514343;
  }
  #img{
	  border: 2px solid grey;
  }

  .header{
	text-align: center;
	color: #fff;
	background-color: #1919c3;
	height: 40px;
	position: fixed;
	width: 100%;
}
  .glav{
	margin: 3px 25px;
	height: 35px;
	float: left;
	
}
/* .menu{
	background:#1919c3 ;
	border: solid 2px black;
	border-radius: 5px;
	color: #ffffff;
} */
summary, button{
	background:#1919c3 ;
	color: #ffffff;
}
#visio{
	display: none;
}

.kvc-on, .lamp-kvc{
	fill:none;
}
#prov16, .boldLine{
stroke: #ac0c0c;
stroke-width:7;
fill:none;
}
#fars{
	fill: none;
}

/* меню */
.side ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.side{
	width: 120px;
	margin-left: 20px;
	position: fixed;
	margin-top: 60px;
}
.menu li{
	background:#1919c3 ;
	color:#fff;
	padding: 3px;
	display: block;
	border-bottom: #0070C0 solid 1px;
	
}

.menu li:hover{
	background: #0070C0;
	/* padding: 10px 0 10px 15px; */
	cursor: pointer;
}
/* всплывающее*/
.menu__list{
	position: relative;
}
.menu__drop{
	position: absolute;
	width: 170px;
	left: 100%;
	opacity: 0;
	top:-9999em;
	opacity: 0;
	border-left: 3px solid transparent;
	transition: 0.5s opacity;
}
.menu__list:hover .menu__drop{
	opacity: 1;
	top:0;
}

/* другое */
.vue-s{
	z-index: 9999999;
	margin: 500px;
	background-color: #FF0000;
}
#demo{
	margin: 200px;
	position: fixed;
}
.sound{
	
	left: 120px;
	position: fixed;
}

.st-none{
	fill:none; stroke:none;
}

/* это ЛОТ */
#Fon_black{
 fill:#000000;
}

	


	.stl0{stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
	.stl1{fill:none;stroke:#000000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.stl2{fill:none;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10; }
	.stl3{fill:#AA002B;stroke:#000000;stroke-linejoin:round;stroke-miterlimit:10; opacity: .3;}
	.stl4{fill:#FFDA22;stroke:#000000;stroke-miterlimit:10; opacity: .2;}
	.stl5{fill:#9CB235;stroke:#000000;stroke-miterlimit:10; opacity: .2;}
	.stl6{stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
	.stl7{fill:#545450;}
	.stl8{fill:#FFDA22;}
	.stl9{fill:#E5E5E5;}
	.stl10{fill:#FFFFFF;stroke:#EAEAEA;stroke-width:1.5;stroke-miterlimit:10;}

	