.st0{fill:#98D0DE;}
	.st1{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;}
	.st2{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:4.0169,4.0169;}
	.st3{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.9914,3.9914;}
	.st4{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:4.0051,4.0051;}
	.st5{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:4.0312,4.0312;}
	.st6{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:4.0654,4.0654;}
	.st7{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.9841,3.9841;}
	.st8{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.967,3.967;}
	.st9{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:4.0078,4.0078;}
	.st10{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:3.9762,3.9762;}
	.st11{fill:#FFFFFF;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
	.st12{fill:none;stroke:#000000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st13{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st14{fill:#002060;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
	.st15{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
	.st16{fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
	.st17{fill:none;}
	.st18{stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
	.st19{fill:#FF0000;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
	.st20{fill:#FFFF00;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
	.st21{stroke:#000000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st22{fill:none;stroke:#000000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;}
	.st23{fill:none;stroke:#000000;stroke-width:1.5;stroke-linecap:round;stroke-miterlimit:10;}
	.st24{fill:#F8B57E;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
	.st25{fill:none;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
	.st26{fill:#507BAF;stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
	.st27{fill:none;stroke:#FF0000;stroke-width:5;stroke-miterlimit:10;}
	.st28{display:inline;fill:none;stroke:#FF0000;stroke-width:5;stroke-miterlimit:10;}
	.st29{fill:none;stroke:#FF0000;stroke-width:7;stroke-miterlimit:10;}
	.st31{opacity:0;}
	
  #ps123{stroke:#7f7777;}
  #ksb1{stroke: green; fill:none; stroke-width:10;}
  #ksb2{stroke: blue; fill:none; stroke-width:10; }
  #pk5{stroke: #FF0000; stroke-width:5; display: none;}
  .ksh{fill:none;stroke:#FF0000;stroke-width:5;}
  .pk{fill:none;stroke:#FF0000;stroke-width:7;stroke-miterlimit:10; display: none;}
  .kont{stroke:#FF0000;stroke-width:5;}
  .stpk{fill:none;stroke:#000000;stroke-width:1.5;stroke-linecap:round;stroke-miterlimit:10;}
  .pp{display: none; fill:none;stroke:#FF0000;stroke-width:7;stroke-miterlimit:10;}
  foreignObject{ background-color: #002060;}


*{
	margin: 0;
	padding:0; 
}
.menu{
	margin-left: 20px;
	background: #ffffff;
	padding: 5px;
	position: fixed;
	z-index: 99;
}
.name{
	margin-left: auto;
    margin-right: 0;
	top:0px;
	width: 300px;
	text-align: center;
	position: relative;
	margin-bottom: 0px;
}
.btn{
	margin-left: 10px;
	display: block;
	width: 100px;
}
.menu-btn{
	margin: 10px;
}
#ex{
	display: none;
	background-color:#ff00b1;
	color: #ffffff;
}
.title :hover{
	cursor: pointer;
}
/* модальное окно */
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	border: 3px blue solid;
}

.close-mod {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close-mod:hover { background: #00d9ff; }

foreignObject{
	border-radius: 10px;
}
.header{
	text-align: center;
	color: #fff;
	background-color: #1919c3;
	height: 40px;
	
}
p{
	margin: 10px;
}

.glav{
	margin: 3px 25px;
	height: 35px;
	float: left;
}
.st32{fill:none;stroke:#FF0000;stroke-width:5;stroke-miterlimit:10;stroke-dasharray:10.2342,10.2342;}
	.st33{fill:none;stroke:#FF0000;stroke-width:5;stroke-miterlimit:10;stroke-dasharray:9.7585,9.7585;}
	

	.side ul{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.side{
		width: 120px;
		margin-left: 20px;
		position: fixed;
		margin-top: 60px;
	}
	.menu li{
		background:#1919c3 ;
		color:#fff;
		padding: 3px;
		display: block;
		border-bottom: #0070C0 solid 1px;
		
	}
	
	.menu li:hover{
		background: #0070C0;
		/* padding: 10px 0 10px 15px; */
		cursor: pointer;
	}
	/* всплывающее*/
	.menu__list{
		position: relative;
	}
	.menu__drop{
		position: absolute;
		width: 170px;
		left: 100%;
		opacity: 0;
		top:-9999em;
		opacity: 0;
		border-left: 3px solid transparent;
		transition: 0.5s opacity;
	}
	.menu__list:hover .menu__drop{
		opacity: 1;
		top:0;
	}