/* lot fone*/
.exp{
	height: auto;
}
.dark{fill:#22231f;stroke:#000000;stroke-miterlimit:10;}

    .st0{fill:none;}
	.st1{fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	.st3{fill:none;stroke:#000000;stroke-width:0.25;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st4{fill-rule:evenodd;clip-rule:evenodd;fill:#7F7F7F;}
	.st5{fill:none;stroke:#000000;stroke-width:0.4737;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st6{fill-rule:evenodd;clip-rule:evenodd;}
	.st7{fill:none;stroke:#000000;stroke-width:0.14;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st8{fill-rule:evenodd;clip-rule:evenodd;fill:url(#SVGID_5_);}
	.st9{fill:none;stroke:#000000;stroke-width:0.2369;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st10{fill-rule:evenodd;clip-rule:evenodd;fill:#D8D8D8;}
	.st11{fill:none;stroke:#000000;stroke-width:0.1421;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st12{font-family:'Arial-ItalicMT';}
	.st13{font-size:35.7249px;}
	.st14{font-size:32.8676px;}
	.st15{font-size:27.1221px;}
	.st16{fill:none;stroke:#000000;stroke-width:11;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st17{font-size:27.153px;}
	.st18{fill-rule:evenodd;clip-rule:evenodd;fill:url(#SVGID_6_);}
	.st19{font-size:31.4395px;}
	.st20{fill:#771AE2;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st21{fill:#00B050;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st22{fill-rule:evenodd;clip-rule:evenodd;fill:#B40000;stroke:#808080;stroke-width:2;stroke-miterlimit:10;}
	.st23{fill:none;stroke:#000000;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st24{opacity:0.71;fill-rule:evenodd;clip-rule:evenodd;fill:#FFEE8A;}
	.st25{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st26{fill-rule:evenodd;clip-rule:evenodd;stroke:#808080;stroke-width:2;stroke-miterlimit:10;}
	.st27{fill:none;stroke:#7F7F7F;stroke-width:0.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st28{stroke:#000000;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;cursor: pointer;}
	.st29{stroke:#737373;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;cursor: pointer;}
	.st30{fill-rule:evenodd;clip-rule:evenodd;fill:none;}
	.st31{font-family:'MyriadPro-Regular';cursor:default;}
	.st32{font-size:44px;}
	.st33{fill:#38352F;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st34{stroke:#FFFFFF;stroke-linecap:round;stroke-miterlimit:10;}
	.st35{fill:#BFBFBF;stroke:#BFBFBF;stroke-width:9;stroke-linecap:round;stroke-miterlimit:10;cursor: pointer;}
	.st36{fill-rule:evenodd;clip-rule:evenodd;fill:#99FFFF;stroke:#000000;stroke-miterlimit:10;}
	.st37{stroke:#353535;stroke-width:0.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st38{stroke:#38352F;stroke-linecap:round;stroke-miterlimit:10;}
	.st39{stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;cursor:default;}
	.st40{font-size:24px;}
	.st41{font-size:45px;}
	.st42{letter-spacing:-1;cursor:default;}
	.st43{font-size:20px;cursor:default;}
	.st44{font-size:25px;}
	.st45{stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
	.st46{letter-spacing:-3;}
	.st47{fill-rule:evenodd;clip-rule:evenodd;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
	.st48{fill:#FFFFFF;stroke:#808080;stroke-miterlimit:10;}
	.st49{stroke:#808080;stroke-miterlimit:10;}
	.st50{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
	.st51{fill:none;stroke:#000000;stroke-miterlimit:10;}
	.st52{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
	.st53{font-size:13.0564px;}
	.st54{font-size:6.77px;}
	.st55{font-size:19.8264px;}
	.st56{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:9;stroke-miterlimit:10;}
	.st57{fill:#336666;stroke:#336666;stroke-width:7;stroke-linecap:round;stroke-miterlimit:10;}
	.st58{fill:#336666;stroke:#A9000A;stroke-width:7;stroke-linecap:round;stroke-miterlimit:10;}
	.st59{fill:#A9000A;stroke:#A9000A;stroke-linecap:round;stroke-miterlimit:10;}
	.st60{stroke:#000000;stroke-linecap:round;stroke-miterlimit:10;}
	.st61{font-size:12.1658px;}
	.st62{font-size:16.0076px;}
	.st63{letter-spacing:-2;}
	.st64{fill:none;stroke:#000000;stroke-width:15;stroke-miterlimit:10;}
	.st65{fill:#FFFFFF;}
	.st66{fill:none;stroke:#C2001F;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
	.st67{stroke:#000000;stroke-miterlimit:10;cursor: pointer;}
	.st68{font-size:15.4729px;}
	.st69{font-size:11.1405px;}
	.st70{stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
	.st71{stroke:#000000;stroke-width:1.5;stroke-miterlimit:10;}
	.st72{fill:#AA002B;stroke:#000000;stroke-linejoin:round;stroke-miterlimit:10;}
	.st73{fill:#FFDA22;stroke:#000000;stroke-miterlimit:10;}
	.st74{fill:#7ab235;stroke:#000000;stroke-miterlimit:10;}
	.st75{fill:#545450;}
	.st76{fill:#FFDA22;}
	.st77{fill:#E5E5E5;}
	.st78{fill:#FFFFFF;stroke:#EAEAEA;stroke-width:1.5;stroke-miterlimit:10;}
	.st79{fill:#A0A0A0;stroke:#000000;stroke-miterlimit:10;}
	.st80{fill:#828282;stroke:#000000;stroke-miterlimit:10;}
	.st81{fill:#565656;stroke:#000000;stroke-miterlimit:10;}
	.st82{fill:none;stroke:#828282;stroke-width:2;stroke-miterlimit:10;}
	.st83{fill:#828282;stroke:#828282;stroke-width:0.5;stroke-miterlimit:10;}
	.st84{font-size:11.423px;}
	.st85{fill:#828282;stroke:#828282;stroke-miterlimit:10;}
	.st86{fill:#B4624B;stroke:#000000;stroke-width:2;stroke-miterlimit:10;cursor: pointer;}
	.st87{stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
	.st88{fill:#B4624B;stroke:#000000;stroke-miterlimit:10;}
	.st89{fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
	.st90{fill:#9B9A9A;stroke:#000000;stroke-miterlimit:10;}
	.st91{fill:#C4BEBA;stroke:#000000;stroke-miterlimit:10;}
	.st92{fill:none;stroke:#7E756F;stroke-width:5;stroke-miterlimit:10;}
	.st93{fill:#C3C1BE;stroke:#000000;stroke-miterlimit:10;}
	.st94{fill:#DEDCD7;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
	.st95{fill:#5B4B42;stroke:#000000;stroke-miterlimit:10;}
	.st96{fill:#918681;stroke:#000000;stroke-miterlimit:10;}
	.st97{fill:#574A43;stroke:#000000;stroke-miterlimit:10;}
	.st98{fill:#FF0000;stroke:#000000;stroke-miterlimit:10;cursor: pointer;}
	.st99{fill:#706761;}
	.st100{fill:#9F9F9C;}
	.st101{fill:#9C9A94;}
	.st102{fill:none;stroke:#695D59;stroke-width:4;stroke-miterlimit:10;}
	.st103{fill:#C8D1D3;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
	.st104{fill:#9B9A9A;stroke:#A5A5A5;stroke-miterlimit:10;}
	.st105{fill:#A1B1B3;}
	.st-none{display: none;}
	/* .vk{cursor: pointer;} */
	.stvk{opacity: 0;cursor: pointer;}

	.str0{fill:#A8A79F;stroke:#000000;stroke-miterlimit:10;}
	.str1{fill:#144F91;stroke:#000000;stroke-miterlimit:10;}
	.str2{fill:none;stroke:#000000;stroke-miterlimit:10;}
	.str3{fill:#14406F;stroke:#000000;stroke-miterlimit:10;}
	.str4{fill:#2765AD;stroke:#000000;stroke-miterlimit:10;}
	.str5{fill:#1A3F6F;stroke:#000000;stroke-miterlimit:10;}
	.str6{fill:#244682;stroke:#000000;stroke-miterlimit:10;}
	.str7{fill:#1958A6;stroke:#000000;stroke-miterlimit:10;}
	.str8{fill:#BAC4CA;stroke:#000000;stroke-miterlimit:10;}
	.str9{fill:#C0BFB9;stroke:#000000;stroke-miterlimit:10;}
	.str10{fill:#AEB6BD;stroke:#000000;stroke-miterlimit:10;}
	.str11{fill:#C1CAD1;stroke:#000000;stroke-miterlimit:10;}
	.str12{fill:#1A5DAB;stroke:#000000;stroke-miterlimit:10;cursor: pointer;}
	.str13{fill:#1A5DAB;stroke:#000000;stroke-width:1.75;stroke-miterlimit:10;cursor: pointer;}
	
	.st-kv0{fill:#51524E;stroke:#000000;stroke-miterlimit:10;}
	.st-kv1{fill:#39372F;stroke:#39372F;stroke-width:34;stroke-linecap:round;stroke-miterlimit:10;}
	.st-kv2{fill:#535657;stroke:#000000;stroke-miterlimit:10;}
	.st-kv3{fill:none;stroke:#969696;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
	.st-kv4{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
	.st-kv5{fill:none;}
	.st-kv6{stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
	.st-kv7{font-family:'MyriadPro-Regular';}
	.st-kv8{font-size:14px;}
	.st-kv9{fill:none;stroke:#000000;stroke-width:0.25;stroke-linecap:round;stroke-miterlimit:10;}
	.st-kv10{fill:none;stroke:#000000;stroke-linecap:round;stroke-miterlimit:10;}
	.st-kv11{font-size:5px;}
	.st-kv12{font-size:10px;}
	.st-kv13{fill:#7A3527;}
  /* педаль безопасности */
	.st-pedal0{fill:#433D37;stroke:#000000;stroke-miterlimit:10;}
	.st-pedal1{fill:#7F7B76;stroke:#000000;stroke-miterlimit:10;}
	.st-pedal2{fill:#A8A6A2;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
	.st-pedal3{fill:#4E413B;stroke:#000000;stroke-miterlimit:10;}
	.st-pedal4{fill:#5F605F;stroke:#000000;stroke-miterlimit:10;}
	.st-pedal5{fill:#787A78;stroke:#000000;stroke-miterlimit:10;}
	.st-pedal6{fill:#A2A3A1;stroke:#000000;stroke-miterlimit:10;}
	.st-pedal7{fill:#EAEAE9;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
	.st-pedal8{fill:#423C38;}
	.st-pedal9{fill:#38312C;}
	.st-pedal10{fill:#382F2A;stroke:#000000;stroke-miterlimit:10;}
	.st-pedal11{fill:#B2B0AA;}
	.st-pedal12{fill:#403930;stroke:#000000;stroke-miterlimit:10;}

	.kontroller0{fill:#A8A7A3;stroke:#000000;stroke-miterlimit:10;}
	.kontroller1{fill:none;}
	.kontroller2{stroke:#000000;stroke-miterlimit:10;}
	.kontroller3{font-family:'MyriadPro-Regular';}
	.kontroller4{font-size:24px;}
	.kontroller5{font-size:20.7286px;}
	.kontroller6{fill:#885639;}

	.cursor{fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:3;}

	.stpow0{fill:none;stroke:#000000;stroke-linecap:round;stroke-miterlimit:10;}
	.stpow1{fill:#80808005; cursor: pointer;}
	.stpow2{stroke:#ed1010;stroke-miterlimit:10;}
	.stpow3{font-family:'MyriadPro-Regular';}
	.stpow4{font-size:35px;}
	.stpow5{font-size:52px;}
	.stpow6{display:none;}
	.stpow7{display:inline;fill:#A8A7A3;stroke:#000000;stroke-miterlimit:10;}
	.stpow8{display:inline;}
	.stpow9{fill:#A8A7A3;stroke:#000000;stroke-miterlimit:10;}
	.stpow10{fill:#885639;}
	.stpow11{display:inline;fill:#885639;}
	#avtomat{ box-shadow: -6px 0px 24px -3px #000000; width: auto; height: 100%;}

	/* реверс */
	.st-r0{fill:#7F7F7F;stroke:#000000;stroke-miterlimit:10;}
	.st-r1{fill:#6E7A88;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
	.st-r2{fill:#222118;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
	.st-r3{fill:#959892;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
	.st-r4{fill:none;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
	.st-r5{fill:#ACAEAB;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
	.st-r6{fill:#92908B;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
	.st-r7{fill:#888F8F;}
	.st-r8{fill:#414542;}
	.st-r9{fill:#AEB4B2;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
	.st-r10{fill:#A8B2AC;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
	.st-r11{fill:#A1A9B6;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
	.st-r12{fill:#9AA0A2;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
	.st-r13{fill:#C9D7DA;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
	.st-r14{fill:none;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
	.st-r15{fill:#959FAE;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;}
	#revers-0, #revers-go{cursor: pointer;}


	#header nav{
		margin-top: -20px;
	}
	