/*стилизуем менюшку*/
.hidden-menu {
    right: 0;
    display: block;
    position: fixed;
    list-style:none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 250px;
    background-color: #1919c3;
    height: 100%;
    top: 0;
    right: -250px;
    transition: right .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  
  .hidden-menu li a {text-decoration: none; color:#ffffff;}
  .hidden-menu li a:hover {color:#f2849e;}
  /*скрываем инпут чекбокс*/
  .hidden-menu-ticker {
    display: none;
  }
  /*общие стили значка-гамбургера, самого лэйбла*/
  .btn-menu {
    color: #fff;
    /* background-color: #fff; */
    padding: 6px;
    position: fixed;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 20px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  /*общие стили полосок*/
  .btn-menu span {
    display: block;
    height: 2px;
    background-color: #c6d4e0;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
  }
  /*прибиваем к верху лэйбла первую полоску*/
  .btn-menu span.first {
    margin-top: 0;
  }
  /*при нажатии на бургер двигаем его и делаем другой фон бургеру*/
  .hidden-menu-ticker:checked ~ .btn-menu {
    right: 220px;
    background-color: #1919c3;
  }
  /*и дальше стили меняющие бургер, двигающие менюшку по событию - нажатие на значек бургера*/
  .hidden-menu-ticker:checked ~ .hidden-menu {
    right: 0;
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 7px;
    background-color: #fff;
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
  }
  
  .hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -7px;
    background-color: #fff;
  }
  /*ну а тут такое, стиль заголовка, шоб симпотичнее было :)*/
  header {
    background-color: #fff;
    color: #2487ca;
    text-align: center;
    padding: 5px;
  }
  
 